.git
.github
.venv
__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
.db
.DS_Store
.env
assets/*
!assets/settings.json.example
output/*
data/*
*.mp4
*.mov
*.jpg
*.json
!requirements.txt
!requirements-dev.txt
